In [56]:
import pandas as pd
import pymongo
from pymongo import MongoClient
import snscrape.modules.twitter as sntwitter
import json

In [57]:
df = pd.read_csv('data.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [58]:
df

,Unnamed: 0,id,date,content,like,reply,retweet,username,tag
0,1,1.487473e+18,2022-01-29,OglƒÖdam LOLa 8 lat i jeszcze nigdy nie widzial...,1,0,0.0,KeNyDi5,Excel
1,2,1.487116e+18,2022-01-28,"@TolkinLoL ich kriege so schlechte Laune, wenn...",0,0,0.0,fnchsvn,Astralis
2,3,1.487093e+18,2022-01-28,Is this the Blancos team? \r\n\r\nOggi si punt...,12,7,0.0,DeugemoTwo,LEC
3,4,1.486025e+18,2022-01-25,"Como Nisqy acabe el Astralis, creo que ganar√° ...",2,1,0.0,Sirinazurey,Fnatic
4,5,1.484948e+18,2022-01-22,@MuliBoom OglƒÖdam LOLa 8 lat i jeszcze nigdy n...,15,0,0.0,PodolBS,Excel
...,...,...,...,...,...,...,...,...,...
372136,431123,1.460040e+18,2021-11-15,Was a very good time to have you in the team y...,2,0,0.0,CowKaaa,LFL
372137,431124,1.460039e+18,2021-11-15,Ëá™ÂàÜ„ÅÆÈ°î„Å´Âêà„ÅÜ„Éû„Çπ„ÇØ„Åå\r\nÁÑ°„ÅÑ‰∫ã„ÅåÊúÄËøë„ÅÆÊÇ©„Åø„ÄÅ„ÄÅ\r\nÂ§ß„Åç„ÅÑ„Å®Â§ß„Åç„Åô„Åé„Å¶\r\nÂ∞è„Åï„ÅÑ...,0,0,0.0,Ck_truelife,LFL
372138,431125,1.460036e+18,2021-11-15,Jual followers\r\n- Instagram\r\n- Twitter\r\n...,0,0,0.0,mimif_05,LFL
372139,431126,1.460036e+18,2021-11-15,Skull Practice\r\n\r\n#artwork #art #drawing #...,1,0,0.0,bbdwbayu,LFL
372140,431127,1.460035e+18,2021-11-15,üíûüòäÂè™‰ªä„ÅÆÊôÇÂàª„ÅØ09:00ÂàÜ„Åß„Åôüòäüíû\r\nÁõ∏‰∫í„Éï„Ç©„É≠„ÉºÔºÜ„É™„ÉÑ„Ç§„Éº„Éà„Å´ÂçîÂäõ„ÅäÈ°ò„ÅÑ„ÅÑ„Åü„Åó„Åæ„ÅôÔºÅ...,1,0,0.0,keeeeeeeeeeki0,LFL

In [85]:
client = MongoClient('localhost',27017)

In [86]:
print(client.list_database_names())

['admin', 'config', 'local']

In [91]:
db = client.project
collection = db['LoL_community']

In [92]:
records = json.loads(df.T.to_json()).values()

In [93]:
collection.insert_many(records)

In [102]:
 print(client.list_database_names())

['admin', 'config', 'local', 'project']

In [103]:
db.list_collection_names()

['LoL_community']

In [99]:
db.collection.find_one()

In [108]:
def push_data_to_mongo(df, collection_name):
    client = MongoClient('localhost',27017)
    db = client.project
    collection = db[collection_name]
    data = json.loads(df.T.to_json()).values()
    collection.insert_many(data)

In [110]:
push_data_to_mongo(df, 'LoL_community')

In [111]:
def get_data_from_mongo(db, collection_name):
    col = db[collection_name]
    df = pd.DataFrame(list(col.find()))
    return df

In [112]:
df_mongo = get_data_from_mongo(db, 'LoL_community')

In [113]:
df_mongo

,_id,Unnamed: 0,id,date,content,like,reply,retweet,username,tag
0,61f66de601b2ba2a5b706f3a,1,1.487473e+18,2022-01-29,OglƒÖdam LOLa 8 lat i jeszcze nigdy nie widzial...,1,0,0.0,KeNyDi5,Excel
1,61f66de601b2ba2a5b706f3b,2,1.487116e+18,2022-01-28,"@TolkinLoL ich kriege so schlechte Laune, wenn...",0,0,0.0,fnchsvn,Astralis
2,61f66de601b2ba2a5b706f3c,3,1.487093e+18,2022-01-28,Is this the Blancos team? \r\n\r\nOggi si punt...,12,7,0.0,DeugemoTwo,LEC
3,61f66de601b2ba2a5b706f3d,4,1.486025e+18,2022-01-25,"Como Nisqy acabe el Astralis, creo que ganar√° ...",2,1,0.0,Sirinazurey,Fnatic
4,61f66de601b2ba2a5b706f3e,5,1.484948e+18,2022-01-22,@MuliBoom OglƒÖdam LOLa 8 lat i jeszcze nigdy n...,15,0,0.0,PodolBS,Excel
...,...,...,...,...,...,...,...,...,...,...
372136,61f66de801b2ba2a5b761ce2,431123,1.460040e+18,2021-11-15,Was a very good time to have you in the team y...,2,0,0.0,CowKaaa,LFL
372137,61f66de801b2ba2a5b761ce3,431124,1.460039e+18,2021-11-15,Ëá™ÂàÜ„ÅÆÈ°î„Å´Âêà„ÅÜ„Éû„Çπ„ÇØ„Åå\r\nÁÑ°„ÅÑ‰∫ã„ÅåÊúÄËøë„ÅÆÊÇ©„Åø„ÄÅ„ÄÅ\r\nÂ§ß„Åç„ÅÑ„Å®Â§ß„Åç„Åô„Åé„Å¶\r\nÂ∞è„Åï„ÅÑ...,0,0,0.0,Ck_truelife,LFL
372138,61f66de801b2ba2a5b761ce4,431125,1.460036e+18,2021-11-15,Jual followers\r\n- Instagram\r\n- Twitter\r\n...,0,0,0.0,mimif_05,LFL
372139,61f66de801b2ba2a5b761ce5,431126,1.460036e+18,2021-11-15,Skull Practice\r\n\r\n#artwork #art #drawing #...,1,0,0.0,bbdwbayu,LFL
372140,61f66de801b2ba2a5b761ce6,431127,1.460035e+18,2021-11-15,üíûüòäÂè™‰ªä„ÅÆÊôÇÂàª„ÅØ09:00ÂàÜ„Åß„Åôüòäüíû\r\nÁõ∏‰∫í„Éï„Ç©„É≠„ÉºÔºÜ„É™„ÉÑ„Ç§„Éº„Éà„Å´ÂçîÂäõ„ÅäÈ°ò„ÅÑ„ÅÑ„Åü„Åó„Åæ„ÅôÔºÅ...,1,0,0.0,keeeeeeeeeeki0,LFL

In [43]:
db.list_collection_names()

['collection']

In [53]:
collection2.insert_one(
    {
    "firstname" : "Thomas",
    "lastname" : "Shelby",
    "position" : "CEO",
    "gender" : "Male",
    "age" : 35,
    "description" : "Thomas 'Tommy' Michael Shelby M.P. OBE, is the leader of the Birmingham criminal gang Peaky Blinders and the patriarch of the Shelby Family. His experiences during and after the First World War have left him disillusioned and determined to move his family up in the world.",
    "nicknames" : ["Tom", "Tommy", "Thomas"],
    "company" : "Peaky Blinders",
    "episodes" : [1,2,4,5,6]
    })

In [1]:
collection_name = "oui"

In [3]:
print("The collection '"+collection_name+"' has been added successfully !")

The collection 'oui' has been added successfully !